[Desktop Entry]
Type=Application
Exec=bash -lc 'export DISPLAY=:0 XAUTHORITY=/home/pi/.Xauthority; exec /usr/bin/env node /opt/paradox/apps/pfx/pfx.js /opt/paradox/config/pfx.ini >> /opt/paradox/logs/pfx.log 2>&1'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=ParadoxFX
Comment=Start ParadoxFX media controller
